# `log2frame`

Install it from [pypi.org](https://pypi.org/project/log2frame/) repository:  
  
`pip install --upgrade log2frame`

In [1]:
import log2frame

units dictionary loaded from cache...
units network loaded from cache...
loaded unyts version 0.5.17

# loading log data from .LAS or .DLIS files

Both formats are readed calling the function **`.read()`** with the _path to the file_, _list of paths to files_ or _file pattern_ that will be treated by `glob` to find the files:  
  
`my_log =`**`log2frame.read(`**_`path_to_file`_**`)`**  
  
And the output from the function will be the same, independently from the input format.  
  
# reading .LAS files

In [2]:
las_path = './sampledata/A12a_CPP_A7_1225in_RM_397-1186mMD.LAS'

In [3]:
las = log2frame.read(las_path)

The output of `log2frame.read` function when loading _a single log file_ is a **Log** instance, that contains:
- the log header, 
- the curves data and
- the curves units

In case of _loading several log files_ at once a **Pack** instance, that contains one **Log** pero file, is returned.

In [4]:
type(las)

Log

## log header
The attribute **`.header`** contains a DataFrame with the header information:

In [5]:
las.header

,unit,value,descr
VERS,,2.0,CWLS log ASCII standard - Version 2.0
WRAP,,NO,One line per depth step
STRT,M,397.0,START INDEX
STOP,M,1185.9768,STOP INDEX
STEP,M,0.1524,STEP
NULL,,-999.25,NULL VALUE
COMP,,Chevron,COMPANY
WELL,,A12a-CPP-A7,WELL
FLD,,A12,FIELD
LOC,,North Sea Dutch Sector,LOCATION
PROV,,,PROVINCE
CNTY,,,COUNTY
STAT,,,STATE
CTRY,,The Netherlands,COUNTRY
SRVC,,Schlimberger D & M,SERVICE COMPANY
DATE,,30-Sep-07,LOG DATE
UWI,,,UNIQUE WELL ID
API,,,API NUMBER
DEPT,M,,Bit Depth 2hz
P16H_UNC,OHMM,,ARC Non-BHCorr Phase-Shift Resistivity 16-in. ...
P22H_UNC,OHMM,,ARC Non-BHCorr Phase-Shift Resistivity 22-in. ...
P28H_UNC,OHMM,,ARC Non-BHCorr Phase-Shift Resistivity 28-in. ...
P34H_UNC,OHMM,,ARC Non-BHCorr Phase-Shift Resistivity 34-in. ...
P40H_UNC,OHMM,,ARC Non-BHCorr Phase-Shift Resistivity 40-in. ...
A16H_UNC,OHMM,,ARC Non-BHCorr Attenuation Resistivity 16-in. ...
A22H_UNC,OHMM,,ARC Non-BHCorr Attenuation Resistivity 22-in. ...
A28H_UNC,OHMM,,ARC Non-BHCorr Attenuation Resistivity 28-in. ...
A34H_UNC,OHMM,,ARC Non-BHCorr Attenuation Resistivity 34-in. ...
A40H_UNC,OHMM,,ARC Non-BHCorr Attenuation Resistivity 40-in. ...
DRHB,G/C3,,"Bulk Density Correction, Bottom"
DRHO,G/C3,,Bulk Density Correction
ROBB,G/C3,,"Bulk Density, Bottom"
RHOB,G/C3,,Bulk Density
TNPH,PU,,Thermal Neutron Porosity (Ratio Method) in Sel...
GR_ARC,GAPI,,ARC Gamma Ray
HORD,IN,,Horizontal Hole Diameter
VERD,IN,,Vertical Hole Diameter
ROP5_RM,M/HR,,"Rate of Penetration, Averaged over Last 5ft"

### well name
The well name has been extracted from the `.header` and can be accessed directly from the attribute **`.name`**:

In [6]:
las.name

'A12a-CPP-A7'

### path to the source file
The path to the source file is stored in the attribute **`.source`**:

In [7]:
las.source

'./sampledata/A12a_CPP_A7_1225in_RM_397-1186mMD.LAS'

## log curves
The attitribute **`.data`** contains a *DataFrame* or *SimDataFrame* with the curves values:

In [8]:
las.data

,P16H_UNC,P22H_UNC,P28H_UNC,P34H_UNC,P40H_UNC,A16H_UNC,A22H_UNC,A28H_UNC,A34H_UNC,A40H_UNC,DRHB,DRHO,ROBB,RHOB,TNPH,GR_ARC,HORD,VERD,ROP5_RM
,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM,G/C3,G/C3,G/C3,G/C3,PU,GAPI,IN,IN,M/HR
DEPT,,,,,,,,,,,,,,,,,,,
397.00,2.64,2.70,1.94,1.19,0.83,300.00,6.23,1.65,1.27,1.10,-0.01,-0.03,1.82,1.71,50.94,34.16,NaN,NaN,9.10
397.15,1.03,1.39,1.27,1.04,1.08,0.31,0.82,1.62,1.29,1.00,0.24,0.15,1.95,1.74,58.85,35.27,NaN,NaN,9.10
397.31,0.87,1.28,1.24,1.00,1.03,0.32,0.86,1.65,1.22,0.87,0.16,0.08,1.89,1.66,67.36,35.80,NaN,NaN,7.62
397.46,0.97,1.10,0.98,0.95,1.26,0.57,0.42,0.37,0.59,2.63,0.12,0.04,1.90,1.64,71.94,37.25,NaN,NaN,9.57
397.61,1.10,0.89,0.68,0.74,1.33,0.57,0.45,0.40,0.60,1.86,0.11,0.03,1.92,1.65,59.54,40.42,NaN,NaN,10.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.66
1185.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.47
1185.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.66
1185.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.85
1185.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.85

## curves units
The attribute **`.units`** contains the curves units as described in the log file:

In [9]:
las.units

STRT           M
STOP           M
STEP           M
NULL
COMP
WELL
FLD
LOC
PROV
CNTY
STAT
CTRY
SRVC
DATE
UWI
API
DEPT           M
P16H_UNC    OHMM
P22H_UNC    OHMM
P28H_UNC    OHMM
P34H_UNC    OHMM
P40H_UNC    OHMM
A16H_UNC    OHMM
A22H_UNC    OHMM
A28H_UNC    OHMM
A34H_UNC    OHMM
A40H_UNC    OHMM
DRHB        G/C3
DRHO        G/C3
ROBB        G/C3
RHOB        G/C3
TNPH          PU
GR_ARC      GAPI
HORD          IN
VERD          IN
ROP5_RM     M/HR
Name: curves_units, dtype: object

This units information is already contained in the `.data` attribute if **SimDataFrame** has been used while loading the data.

## The log index

The **index** of the curves can be defined with the parameter **`index`** when calling the `log2frame.read` function. By default the expected _index mnemonic_ is 'DEPTH' and will be set as index of the DataFrame if available in the curves.  
  
The attribute **`.index`** points to the current index of the DataFrame in `.data` attribute:

In [10]:
las.index

Float64Index([  397.0,  397.15,  397.31,  397.46,  397.61,  397.76,  397.92,
               398.07,  398.22,  398.37,
              ...
              1184.61, 1184.76, 1184.91, 1185.06, 1185.21, 1185.37, 1185.52,
              1185.67, 1185.82, 1185.98],
             dtype='float64', name='DEPT', length=5178)

The _mnemonic_ of the index curve can be accessed via the property **`.index_name`** and the _units_ by the property **`.index_units`**:

In [11]:
las.index_name

'DEPT'

In [12]:
las.index_units

'M'

### The `.index_to()` method

The index values can be converted to other units using the **`.index_to`** method, providing a `str` for the desired units or another **Log** instance to take the _index units_ from that one:

In [13]:
las_ft = las.index_to('ft')
las_ft

,P16H_UNC,P22H_UNC,P28H_UNC,P34H_UNC,P40H_UNC,A16H_UNC,A22H_UNC,A28H_UNC,A34H_UNC,A40H_UNC,DRHB,DRHO,ROBB,RHOB,TNPH,GR_ARC,HORD,VERD,ROP5_RM
,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM,G/C3,G/C3,G/C3,G/C3,PU,GAPI,IN,IN,M/HR
DEPT,,,,,,,,,,,,,,,,,,,
1302.493438,2.64,2.70,1.94,1.19,0.83,300.00,6.23,1.65,1.27,1.10,-0.01,-0.03,1.82,1.71,50.94,34.16,NaN,NaN,9.10
1302.985564,1.03,1.39,1.27,1.04,1.08,0.31,0.82,1.62,1.29,1.00,0.24,0.15,1.95,1.74,58.85,35.27,NaN,NaN,9.10
1303.510499,0.87,1.28,1.24,1.00,1.03,0.32,0.86,1.65,1.22,0.87,0.16,0.08,1.89,1.66,67.36,35.80,NaN,NaN,7.62
1304.002625,0.97,1.10,0.98,0.95,1.26,0.57,0.42,0.37,0.59,2.63,0.12,0.04,1.90,1.64,71.94,37.25,NaN,NaN,9.57
1304.494751,1.10,0.89,0.68,0.74,1.33,0.57,0.45,0.40,0.60,1.86,0.11,0.03,1.92,1.65,59.54,40.42,NaN,NaN,10.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3889.009186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.66
3889.501312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.47
3889.993438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.66
3890.485564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.85
3891.010499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.85

The new Log instance has the index converted to the desired units:

In [14]:
las_ft.index_units

'ft'

# reading .DLIS files

To read .DLIS files the procedure and output are the same as reading .LAS files, use **`log2frame.read()`** with the path to the file as argument:

In [15]:
dlis_path = r"./sampledata/G030088973__A-5-1__REFS12348052.dlis"

In [16]:
dlis = log2frame.read(dlis_path)

In [17]:
type(dlis)

Log

## log header

In [18]:
dlis.header

      long_name                                             values
name
CDFT        NaN                                         KCl Glycol
CDTL        NaN                                            July 99
CDTP        NaN                                         31 July 99
CITP        NaN                                       4550-13050ft
CJBN        NaN                                            AB99026
CN          NaN                                       AMERADA HESS
CPAT        NaN                                           Aberdeen
CPBY        NaN                                          Jim Craig
DMF         NaN                                                 DF
FL1         NaN                                      55:40:54.106N
FL2         NaN                                      03:31:13.844E
FN          NaN                                        Exploration
HDRT        NaN                                              CMPPR
LMF         NaN                                                 DF
PDAT        NaN                                                MSL
R1          NaN  Unconpensated resistivity curves over interval...
R2          NaN                        medium transmitter failure.
R3          NaN            UU2P - Uncompensated upper medium Phase
R4          NaN      UU2A - Uncompensated upper medium Attenuation
R5          NaN  Resistivity reading above tool spec over inter...
STAT        NaN                                        Netherlands
WN          NaN                                              A/5-1
APD         NaN                                                120
EDF         NaN                                                120
EGL         NaN                                               -154
EPD         NaN                                                  0

### well name

In [19]:
dlis.name

'A/5-1'

### source path

In [20]:
dlis.source

'./sampledata/G030088973__A-5-1__REFS12348052.dlis'

### log curves

In [21]:
dlis.data

,FRAMENO,GRC,R25A,R25P,R55A,R55P,UU2A,UU2P
,NaN,API,ohm.m,ohm.m,ohm.m,ohm.m,ohm.m,ohm.m
DEPT,,,,,,,,
13033.0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13032.5,2,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13032.0,3,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13031.5,4,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13031.0,5,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
...,...,...,...,...,...,...,...,...
4552.0,16963,96.319992,0.11,0.26,818.989990,1572.599854,-999.25,-999.25
4551.5,16964,99.599991,0.42,0.36,3072.089844,936.630005,-999.25,-999.25
4551.0,16965,101.629990,0.20,0.57,541.869995,3344.879883,-999.25,-999.25
4550.5,16966,102.500000,0.15,0.41,1166.399902,1639.699951,-999.25,-999.25
4550.0,16967,103.910004,0.16,0.63,1323.810059,2836.089844,-999.25,-999.25

## curves units

In [22]:
dlis.units

DEPT       ft
GRC       API
R25A    ohm.m
R25P    ohm.m
R55A    ohm.m
R55P    ohm.m
UU2A    ohm.m
UU2P    ohm.m
Name: frame_units, dtype: object

## The log index

In [23]:
dlis.index

Float64Index([13033.0, 13032.5, 13032.0, 13031.5, 13031.0, 13030.5, 13030.0,
              13029.5, 13029.0, 13028.5,
              ...
               4554.5,  4554.0,  4553.5,  4553.0,  4552.5,  4552.0,  4551.5,
               4551.0,  4550.5,  4550.0],
             dtype='float64', name='DEPT', length=16967)

In [24]:
dlis.index_name

'DEPT'

In [25]:
dlis.index_units

'ft'

### `index_to()`

In [26]:
dlis.index_to('m')

,FRAMENO,GRC,R25A,R25P,R55A,R55P,UU2A,UU2P
,NaN,API,ohm.m,ohm.m,ohm.m,ohm.m,ohm.m,ohm.m
DEPT,,,,,,,,
3972.4584,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
3972.3060,2,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
3972.1536,3,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
3972.0012,4,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
3971.8488,5,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
...,...,...,...,...,...,...,...,...
1387.4496,16963,96.319992,0.11,0.26,818.989990,1572.599854,-999.25,-999.25
1387.2972,16964,99.599991,0.42,0.36,3072.089844,936.630005,-999.25,-999.25
1387.1448,16965,101.629990,0.20,0.57,541.869995,3344.879883,-999.25,-999.25
1386.9924,16966,102.500000,0.15,0.41,1166.399902,1639.699951,-999.25,-999.25
1386.8400,16967,103.910004,0.16,0.63,1323.810059,2836.089844,-999.25,-999.25

# reading .LIS files

In [27]:
lis_path = './sampledata/a0501t01.lis'

In [28]:
lis = log2frame.read(lis_path)

Missing Header Record - File structure is broken

In [29]:
type(lis)

Log

## .LIS with multiple runs

A `Pack` will be returned in case there are _several runs_ (with data) in _a single .LIS file_.  
Inside that `Pack` there will be a `Log` for each run with data.

## log header

In [30]:
lis.header

                        values units STAT PUNI TUNI VALU
file_name           HES   .001
date_of_generation    06/21/99
name
service_name
reel_date

## log curves

In [31]:
lis.data

,physical_file,logical_file,sample_rate,GRC,R25A,R25P,R55A,R55P,UU2A,UU2P
,NaN,NaN,NaN,API,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM
DEPT,,,,,,,,,,
4550.0,0,0,1,103.910004,0.16,0.63,1323.810059,2836.089844,-999.25,-999.25
4550.5,0,0,1,102.500000,0.15,0.41,1166.399902,1639.699951,-999.25,-999.25
4551.0,0,0,1,101.629990,0.20,0.57,541.869995,3344.879883,-999.25,-999.25
4551.5,0,0,1,99.599991,0.42,0.36,3072.089844,936.630005,-999.25,-999.25
4552.0,0,0,1,96.319992,0.11,0.26,818.989990,1572.599854,-999.25,-999.25
...,...,...,...,...,...,...,...,...,...,...
13031.0,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13031.5,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13032.0,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13032.5,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13033.0,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25

## curves units

In [32]:
lis.units

DEPT    F
GRC     API
R25A    OHMM
R25P    OHMM
R55A    OHMM
R55P    OHMM
UU2A    OHMM
UU2P    OHMM
dtype: object

## The log index

In [33]:
lis.index

Float64Index([ 4550.0,  4550.5,  4551.0,  4551.5,  4552.0,  4552.5,  4553.0,
               4553.5,  4554.0,  4554.5,
              ...
              13028.5, 13029.0, 13029.5, 13030.0, 13030.5, 13031.0, 13031.5,
              13032.0, 13032.5, 13033.0],
             dtype='float64', name='DEPT', length=16967)

In [34]:
lis.index_name

'DEPT'

In [35]:
lis.index_units

'F   '

### `index_to()`

In [36]:
lis.index_to('m')

WARNING:root:index units not converted!

,physical_file,logical_file,sample_rate,GRC,R25A,R25P,R55A,R55P,UU2A,UU2P
,NaN,NaN,NaN,API,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM
DEPT,,,,,,,,,,
4550.0,0,0,1,103.910004,0.16,0.63,1323.810059,2836.089844,-999.25,-999.25
4550.5,0,0,1,102.500000,0.15,0.41,1166.399902,1639.699951,-999.25,-999.25
4551.0,0,0,1,101.629990,0.20,0.57,541.869995,3344.879883,-999.25,-999.25
4551.5,0,0,1,99.599991,0.42,0.36,3072.089844,936.630005,-999.25,-999.25
4552.0,0,0,1,96.319992,0.11,0.26,818.989990,1572.599854,-999.25,-999.25
...,...,...,...,...,...,...,...,...,...,...
13031.0,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13031.5,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13032.0,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13032.5,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13033.0,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25

Notice the warning message stating that _index units has not been converted_. The index units are wrongly defines as **'F'**, that is not abreviation for _feet_.  

The index units can be corrected using the method `.set_index_units()`:

In [37]:
lis.set_index_units('ft')

In [38]:
lis

,physical_file,logical_file,sample_rate,GRC,R25A,R25P,R55A,R55P,UU2A,UU2P
,NaN,NaN,NaN,API,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM
DEPT,,,,,,,,,,
4550.0,0,0,1,103.910004,0.16,0.63,1323.810059,2836.089844,-999.25,-999.25
4550.5,0,0,1,102.500000,0.15,0.41,1166.399902,1639.699951,-999.25,-999.25
4551.0,0,0,1,101.629990,0.20,0.57,541.869995,3344.879883,-999.25,-999.25
4551.5,0,0,1,99.599991,0.42,0.36,3072.089844,936.630005,-999.25,-999.25
4552.0,0,0,1,96.319992,0.11,0.26,818.989990,1572.599854,-999.25,-999.25
...,...,...,...,...,...,...,...,...,...,...
13031.0,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13031.5,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13032.0,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13032.5,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13033.0,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25

In [39]:
lis.index_to('m')

,physical_file,logical_file,sample_rate,GRC,R25A,R25P,R55A,R55P,UU2A,UU2P
,NaN,NaN,NaN,API,OHMM,OHMM,OHMM,OHMM,OHMM,OHMM
DEPT,,,,,,,,,,
1386.8400,0,0,1,103.910004,0.16,0.63,1323.810059,2836.089844,-999.25,-999.25
1386.9924,0,0,1,102.500000,0.15,0.41,1166.399902,1639.699951,-999.25,-999.25
1387.1448,0,0,1,101.629990,0.20,0.57,541.869995,3344.879883,-999.25,-999.25
1387.2972,0,0,1,99.599991,0.42,0.36,3072.089844,936.630005,-999.25,-999.25
1387.4496,0,0,1,96.319992,0.11,0.26,818.989990,1572.599854,-999.25,-999.25
...,...,...,...,...,...,...,...,...,...,...
3971.8488,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
3972.0012,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
3972.1536,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
3972.3060,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
3972.4584,0,0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25

# using `Pandas.DataFrame` instead of `SimDataFrame`

If available, `log2frame.read()` will use `SimDataFrame` to store the curves data, but if that package is not available it will use `DataFrame` from Pandas library.  
  
To change that default behaviour - _to always use `pa.DataFrame`_ - the paramenter `use_simpandas` should be set to **False** to overide the automatic selection:  
  
`my_log =`**`log2frame.read(`**_`path_to_file, use_simpandas=False`_**`)`**

In [40]:
log_pd = log2frame.read(dlis_path, use_simpandas=False)
log_pd

,FRAMENO,GRC,R25A,R25P,R55A,R55P,UU2A,UU2P
DEPT,,,,,,,,
13033.0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13032.5,2,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13032.0,3,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13031.5,4,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
13031.0,5,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
...,...,...,...,...,...,...,...,...
4552.0,16963,96.319992,0.11,0.26,818.989990,1572.599854,-999.25,-999.25
4551.5,16964,99.599991,0.42,0.36,3072.089844,936.630005,-999.25,-999.25
4551.0,16965,101.629990,0.20,0.57,541.869995,3344.879883,-999.25,-999.25
4550.5,16966,102.500000,0.15,0.41,1166.399902,1639.699951,-999.25,-999.25
4550.0,16967,103.910004,0.16,0.63,1323.810059,2836.089844,-999.25,-999.25

In [41]:
log_pd.header

      long_name                                             values
name
CDFT        NaN                                         KCl Glycol
CDTL        NaN                                            July 99
CDTP        NaN                                         31 July 99
CITP        NaN                                       4550-13050ft
CJBN        NaN                                            AB99026
CN          NaN                                       AMERADA HESS
CPAT        NaN                                           Aberdeen
CPBY        NaN                                          Jim Craig
DMF         NaN                                                 DF
FL1         NaN                                      55:40:54.106N
FL2         NaN                                      03:31:13.844E
FN          NaN                                        Exploration
HDRT        NaN                                              CMPPR
LMF         NaN                                                 DF
PDAT        NaN                                                MSL
R1          NaN  Unconpensated resistivity curves over interval...
R2          NaN                        medium transmitter failure.
R3          NaN            UU2P - Uncompensated upper medium Phase
R4          NaN      UU2A - Uncompensated upper medium Attenuation
R5          NaN  Resistivity reading above tool spec over inter...
STAT        NaN                                        Netherlands
WN          NaN                                              A/5-1
APD         NaN                                                120
EDF         NaN                                                120
EGL         NaN                                               -154
EPD         NaN                                                  0

In [42]:
log_pd.units

DEPT       ft
GRC       API
R25A    ohm.m
R25P    ohm.m
R55A    ohm.m
R55P    ohm.m
UU2A    ohm.m
UU2P    ohm.m
Name: frame_units, dtype: object

In [43]:
log_pd.index_units

'ft'

In [44]:
log_pd.index_to('in')

converting from 'ft' to 'in
ft > foot > inch > in

,FRAMENO,GRC,R25A,R25P,R55A,R55P,UU2A,UU2P
DEPT,,,,,,,,
156396.0,1,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
156390.0,2,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
156384.0,3,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
156378.0,4,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
156372.0,5,-999.250000,-999.25,-999.25,-999.250000,-999.250000,-999.25,-999.25
...,...,...,...,...,...,...,...,...
54624.0,16963,96.319992,0.11,0.26,818.989990,1572.599854,-999.25,-999.25
54618.0,16964,99.599991,0.42,0.36,3072.089844,936.630005,-999.25,-999.25
54612.0,16965,101.629990,0.20,0.57,541.869995,3344.879883,-999.25,-999.25
54606.0,16966,102.500000,0.15,0.41,1166.399902,1639.699951,-999.25,-999.25
54600.0,16967,103.910004,0.16,0.63,1323.810059,2836.089844,-999.25,-999.25

# reading several log files or colecting several `Log` instances

The same function **`log2frame.read()`** can read several files and collect them together in a **`Pack`** instance.  

## The `Pack` instance

The `Pack` instance contains several `Log` instances, sorted by _well name_ and _source path_, and allows to extract each `Log` by their well name, source path or index number in the Pack.

In [45]:
pattern = './sampledata/*/*.*'

In [46]:
las_pack = log2frame.read(pattern)

WARNING:root:The file './sampledata\many\ana01t01.lis' is already loaded. It will be overwritten.
WARNING:root:The file './sampledata\many\ana01t01.lis' is already loaded. It will be overwritten.
WARNING:root:The file './sampledata\many\ana01t01.lis' is already loaded. It will be overwritten.
WARNING:root:The file './sampledata\many\ana01t01.lis' is already loaded. It will be overwritten.
WARNING:root:The file './sampledata\many\ana01t01.lis' is already loaded. It will be overwritten.
WARNING:root:The file './sampledata\many\ana01t01.lis' is already loaded. It will be overwritten.
WARNING:root:The file './sampledata\many\ana01t01.lis' is already loaded. It will be overwritten.
WARNING:root:The file './sampledata\many\ana01t01.lis' is already loaded. It will be overwritten.

### `Pack` summary

The representation of the `Pack` is a summary of the all the loaded logs. This summary can be accessed excuting the method **`.summary()`**:

In [47]:
las_pack

,well,curves,steps,index mnemonic,index units,min index,max index,curves mnemonics,path
0,ALK001,1,16961,DEPT,M,0.152000,2584.856000,DT,./sampledata\many\ALK001-DT.las
1,{32CBF15E-C69E-4316-ABD5-8F1549ADA7B1},36,2253,DEPTH,M,193.000000,2445.000000,"ROP, WOB, HOOKLOAD, RPM_BIT, RPM_STRING, TORQU...",./sampledata\many\numericaldata.las
2,P11-11,6,2481,DEPT,M,2848.100000,3096.100000,"GR, VSH, NG, PHIE, PHIT, SWE",./sampledata\many\P11-11_reservoir_evaluation.las
3,L5-13,28,1787,DEPT,M,3263.625000,3486.875000,"BIT, CAL, CHT, CN, CNC, CNCF, CNCQH, DEVW, DT2...",./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las
4,L5-13,22,1141,DEPT,M,3253.625000,3396.125000,"BIT, CHT, GR, GRSL, K, KTH, M1R1, M1R2, M1R3, ...",./sampledata\many\m87ad09.las
5,Daldrup_HEK-GT-01_USIT_23Jul13_FPM_LF1_FRM2,2,16840,TDEP,FT,265.333333,3071.833333,"EHGR_EDTC, HGR_EDTC",./sampledata\many\Daldrup_HEK-GT-01_USIT_23Jul...
6,HEK-GT-01-S2,1,31116,DEPTH,M,0.000000,3111.500000,GR,./sampledata\many\5734_hekgt01s2_2013_comp.las
7,imf,4,8,DEPT,M,611.270020,612.329956,"physical_file, logical_file, sample_rate, TTGR",./sampledata\many\ana01t01.lis
8,SHELL,6,1642,DEPT,M,3199.942871,3450.031250,"physical_file, logical_file, sample_rate, BCSL...",./sampledata\many\anl01t01.lis
9,SCHOONEBEEK- 3,2,3518,DEPT,M,245.973600,781.964400,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_01_RAW_OH...
10,SCHOONEBEEK- 3,2,804,DEPT,M,950.000000,1110.600000,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_04_RAW_OH...
11,SCHOONEBEEK- 3,2,1786,DEPT,M,700.000000,1057.000000,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_03_RAW_OH...
12,SCHOONEBEEK- 3,4,581,DEPT,M,745.540800,861.540800,"ES, LN, SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_02_RAW_OH...

### getting a `Log` from the `Pack`

A particular **`Log`** can be extracted from the `Pack` by their index in the `.summary()`:

In [48]:
print('name:', las_pack[2].name)
one_log = las_pack[2]
one_log

name: P11-11

                GR       VSH   NG  PHIE      PHIT  SWE
              gAPI         %      m3/m3     m3/m3
DEPT
2848.1   94.649963  0.599209  0.0   0.0  0.018230  1.0
2848.2   97.408981  0.635115  0.0   0.0  0.018166  1.0
2848.3  100.315918  0.675204  0.0   0.0  0.018504  1.0
2848.4  102.986389  0.712926  0.0   0.0  0.020157  1.0
2848.5  105.348854  0.747440  0.0   0.0  0.023463  1.0
...            ...       ...  ...   ...       ...  ...
3095.7   66.164604  0.295831  0.0   NaN       NaN  NaN
3095.8   63.079655  0.269918  0.0   NaN       NaN  NaN
3095.9   60.334328  0.247381  0.0   NaN       NaN  NaN
3096.0   57.990810  0.228807  0.0   NaN       NaN  NaN
3096.1   56.599304  0.218156  0.0   NaN       NaN  NaN

[2481 rows x 6 columns]

### getting a `Log` by the _well name_

All the `Log`s associated to a _well name_ can be extracted from the `Pack` subscripting it by _well name_. This operation will return:
- a `Log` if there is only **one** file associated to the _well name_,
- a `Pack` with all the files for the _well name_ if there are more than one file for it.  
  
#### getting a well with a single file:
It return a `Log`:

In [49]:
las_pack['ALK001']

               DT
             US/F
DEPT
2584.8560  85.792
2584.7036  85.255
2584.5512  84.687
2584.3988  84.398
2584.2464  84.637
...           ...
0.7616        NaN
0.6092        NaN
0.4568        NaN
0.3044        NaN
0.1520        NaN

[16961 rows x 1 columns]

It will be equivalent to extract the file by its index:

In [50]:
one_well = las_pack[0]
one_well

               DT
             US/F
DEPT
2584.8560  85.792
2584.7036  85.255
2584.5512  84.687
2584.3988  84.398
2584.2464  84.637
...           ...
0.7616        NaN
0.6092        NaN
0.4568        NaN
0.3044        NaN
0.1520        NaN

[16961 rows x 1 columns]

#### getting a well with a more than one file:
It returns a new `Pack`:

In [51]:
this_well_pack = las_pack['L5-13']
this_well_pack

,well,curves,steps,index mnemonic,index units,min index,max index,curves mnemonics,path
0,L5-13,28,1787,DEPT,M,3263.625,3486.875,"BIT, CAL, CHT, CN, CNC, CNCF, CNCQH, DEVW, DT2...",./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las
1,L5-13,22,1141,DEPT,M,3253.625,3396.125,"BIT, CHT, GR, GRSL, K, KTH, M1R1, M1R2, M1R3, ...",./sampledata\many\m87ad09.las

## `Pack` concatenation

The method `.concat()` helps to merge all the `.data` available in a `Pack` into a single `DataFrame`:

In [52]:
this_well = this_well_pack.concat()
this_well

,BIT,CAL,CHT,CN,CNC,CNCF,CNCQH,DEVW,DT24QI,DTXXQI,...,source,GRSL,K,KTH,QHDL,RTHK,RTHU,RUK,TH,WRM
,NaN,in,NaN,pu,pu,pu,pu,deg,us/ft,us/ft,...,NaN,gAPI,pct,gAPI,lbf,ppm/pct,1,ppm/pct,ppm,ohm.m
DEPT,,,,,,,,,,,,,,,,,,,,,
3263.625,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3263.750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3263.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3264.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3264.125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3395.625,8.375,NaN,-77.7724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,./sampledata\many\m87ad09.las,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3395.750,8.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,./sampledata\many\m87ad09.las,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3395.875,8.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,./sampledata\many\m87ad09.las,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3396.000,8.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,./sampledata\many\m87ad09.las,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3396.125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,./sampledata\many\m87ad09.las,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
type(this_well)

SimDataFrame

## inserting data into a `Pack`

### + _(addition)_

To add new `Log`s into a `Pack` is as simple as adding the `Pack` plus the `Log`. The **addition** method will return a new instance of `Pack` with a copy of each `Log` in the Pack.

In [54]:
this_well_pack

,well,curves,steps,index mnemonic,index units,min index,max index,curves mnemonics,path
0,L5-13,28,1787,DEPT,M,3263.625,3486.875,"BIT, CAL, CHT, CN, CNC, CNCF, CNCQH, DEVW, DT2...",./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las
1,L5-13,22,1141,DEPT,M,3253.625,3396.125,"BIT, CHT, GR, GRSL, K, KTH, M1R1, M1R2, M1R3, ...",./sampledata\many\m87ad09.las

In [55]:
for each in this_well_pack:
    print(type(each), ', well name: ', each.name, sep='')

Log, well name: L5-13
Log, well name: L5-13

In [56]:
print(type(one_log), ', well name: ', one_log.name, sep='')

Log, well name: P11-11

In [57]:
new_pack = this_well_pack + one_log
new_pack

,well,curves,steps,index mnemonic,index units,min index,max index,curves mnemonics,path
0,L5-13,28,1787,DEPT,M,3263.625,3486.875,"BIT, CAL, CHT, CN, CNC, CNCF, CNCQH, DEVW, DT2...",./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las
1,L5-13,22,1141,DEPT,M,3253.625,3396.125,"BIT, CHT, GR, GRSL, K, KTH, M1R1, M1R2, M1R3, ...",./sampledata\many\m87ad09.las
2,P11-11,6,2481,DEPT,M,2848.100,3096.100,"GR, VSH, NG, PHIE, PHIT, SWE",./sampledata\many\P11-11_reservoir_evaluation.las

In [58]:
for each in new_pack:
    print(type(each), ', well name: ', each.name, sep='')

Log, well name: L5-13
Log, well name: L5-13
Log, well name: P11-11

### `.append()` method

A more efficient way to insert the data is to do it _inplace_.  
In order to append data inplace to a `Packp`, the __`.append()`__ method is the right way.  
This method requires a single item as argument. It can be:
- a `Log`,
- a `Pack`,
- a `[`_`list of`_`Log ]`

In [59]:
this_well_pack.append(one_log)
this_well_pack

,well,curves,steps,index mnemonic,index units,min index,max index,curves mnemonics,path
0,L5-13,28,1787,DEPT,M,3263.625,3486.875,"BIT, CAL, CHT, CN, CNC, CNCF, CNCQH, DEVW, DT2...",./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las
1,L5-13,22,1141,DEPT,M,3253.625,3396.125,"BIT, CHT, GR, GRSL, K, KTH, M1R1, M1R2, M1R3, ...",./sampledata\many\m87ad09.las
2,P11-11,6,2481,DEPT,M,2848.100,3096.100,"GR, VSH, NG, PHIE, PHIT, SWE",./sampledata\many\P11-11_reservoir_evaluation.las

## joint of two `Pack`s

The addition of two `Pack`s reluts in a new `Pack` whit the data from both Packs:

In [60]:
other_pack = las_pack['SCHOONEBEEK- 3']
other_pack

,well,curves,steps,index mnemonic,index units,min index,max index,curves mnemonics,path
0,SCHOONEBEEK- 3,2,3518,DEPT,M,245.9736,781.9644,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_01_RAW_OH...
1,SCHOONEBEEK- 3,2,804,DEPT,M,950.0000,1110.6000,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_04_RAW_OH...
2,SCHOONEBEEK- 3,2,1786,DEPT,M,700.0000,1057.0000,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_03_RAW_OH...
3,SCHOONEBEEK- 3,4,581,DEPT,M,745.5408,861.5408,"ES, LN, SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_02_RAW_OH...

In [61]:
for each in other_pack:
    print(type(each), ', well name: ', each.name, sep='')

Log, well name: SCHOONEBEEK- 3
Log, well name: SCHOONEBEEK- 3
Log, well name: SCHOONEBEEK- 3
Log, well name: SCHOONEBEEK- 3

In [62]:
joint_pack = this_well_pack + other_pack
joint_pack

,well,curves,steps,index mnemonic,index units,min index,max index,curves mnemonics,path
0,L5-13,28,1787,DEPT,M,3263.6250,3486.8750,"BIT, CAL, CHT, CN, CNC, CNCF, CNCQH, DEVW, DT2...",./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las
1,L5-13,22,1141,DEPT,M,3253.6250,3396.1250,"BIT, CHT, GR, GRSL, K, KTH, M1R1, M1R2, M1R3, ...",./sampledata\many\m87ad09.las
2,P11-11,6,2481,DEPT,M,2848.1000,3096.1000,"GR, VSH, NG, PHIE, PHIT, SWE",./sampledata\many\P11-11_reservoir_evaluation.las
3,SCHOONEBEEK- 3,2,3518,DEPT,M,245.9736,781.9644,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_01_RAW_OH...
4,SCHOONEBEEK- 3,2,804,DEPT,M,950.0000,1110.6000,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_04_RAW_OH...
5,SCHOONEBEEK- 3,2,1786,DEPT,M,700.0000,1057.0000,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_03_RAW_OH...
6,SCHOONEBEEK- 3,4,581,DEPT,M,745.5408,861.5408,"ES, LN, SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_02_RAW_OH...

In [63]:
for each in this_well_pack:
    print(type(each), 'well:', each.name)

Log well: L5-13
Log well: L5-13
Log well: P11-11

In [64]:
for each in other_pack:
    print(type(each), 'well:', each.name)

Log well: SCHOONEBEEK- 3
Log well: SCHOONEBEEK- 3
Log well: SCHOONEBEEK- 3
Log well: SCHOONEBEEK- 3

In [65]:
for each in joint_pack:
    print(type(each), 'well:', each.name)

Log well: L5-13
Log well: L5-13
Log well: P11-11
Log well: SCHOONEBEEK- 3
Log well: SCHOONEBEEK- 3
Log well: SCHOONEBEEK- 3
Log well: SCHOONEBEEK- 3

### append in place
As mentioned before, this task can be done inplance using the `.append()` method:

In [66]:
this_well_pack.append(other_pack)
this_well_pack

,well,curves,steps,index mnemonic,index units,min index,max index,curves mnemonics,path
0,L5-13,28,1787,DEPT,M,3263.6250,3486.8750,"BIT, CAL, CHT, CN, CNC, CNCF, CNCQH, DEVW, DT2...",./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las
1,L5-13,22,1141,DEPT,M,3253.6250,3396.1250,"BIT, CHT, GR, GRSL, K, KTH, M1R1, M1R2, M1R3, ...",./sampledata\many\m87ad09.las
2,P11-11,6,2481,DEPT,M,2848.1000,3096.1000,"GR, VSH, NG, PHIE, PHIT, SWE",./sampledata\many\P11-11_reservoir_evaluation.las
3,SCHOONEBEEK- 3,2,3518,DEPT,M,245.9736,781.9644,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_01_RAW_OH...
4,SCHOONEBEEK- 3,2,804,DEPT,M,950.0000,1110.6000,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_04_RAW_OH...
5,SCHOONEBEEK- 3,2,1786,DEPT,M,700.0000,1057.0000,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_03_RAW_OH...
6,SCHOONEBEEK- 3,4,581,DEPT,M,745.5408,861.5408,"ES, LN, SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_02_RAW_OH...

# The `.copy()` method

## `Log.copy()`

__`.copy()`__ method of a __Log__ will return a new `Log` instance with a copy of each dataframe in it contained:

In [67]:
log_copy = one_log.copy()
print('id original:', id(one_log), '\n    id data:', id(one_log.data))
print('id copy    :', id(log_copy), '\n    id data:', id(log_copy.data))
log_copy

id original: 1810977277648
    id data: 1810975718896
id copy    : 1810976230320
    id data: 1810976237808

                GR       VSH   NG  PHIE      PHIT  SWE
              gAPI         %      m3/m3     m3/m3
DEPT
2848.1   94.649963  0.599209  0.0   0.0  0.018230  1.0
2848.2   97.408981  0.635115  0.0   0.0  0.018166  1.0
2848.3  100.315918  0.675204  0.0   0.0  0.018504  1.0
2848.4  102.986389  0.712926  0.0   0.0  0.020157  1.0
2848.5  105.348854  0.747440  0.0   0.0  0.023463  1.0
...            ...       ...  ...   ...       ...  ...
3095.7   66.164604  0.295831  0.0   NaN       NaN  NaN
3095.8   63.079655  0.269918  0.0   NaN       NaN  NaN
3095.9   60.334328  0.247381  0.0   NaN       NaN  NaN
3096.0   57.990810  0.228807  0.0   NaN       NaN  NaN
3096.1   56.599304  0.218156  0.0   NaN       NaN  NaN

[2481 rows x 6 columns]

## `Pack.copy()`

__`.copy()`__ method of a __Pack__ will return a new `Pack` instance with a copy of each `Log` in it contained:

In [68]:
pack_copy = this_well_pack.copy()
print('id original:', id(this_well_pack), '\n    id data:', id(this_well_pack.data))
print('id copy    :', id(pack_copy), '\n    id data:', id(pack_copy.data))
pack_copy

id original: 1810977274752
    id data: 1810974553152
id copy    : 1810975426832
    id data: 1810969138112

,well,curves,steps,index mnemonic,index units,min index,max index,curves mnemonics,path
0,L5-13,28,1787,DEPT,M,3263.6250,3486.8750,"BIT, CAL, CHT, CN, CNC, CNCF, CNCQH, DEVW, DT2...",./sampledata\many\GDF_L5_13_8375IN_WL_RUN_A5.las
1,L5-13,22,1141,DEPT,M,3253.6250,3396.1250,"BIT, CHT, GR, GRSL, K, KTH, M1R1, M1R2, M1R3, ...",./sampledata\many\m87ad09.las
2,P11-11,6,2481,DEPT,M,2848.1000,3096.1000,"GR, VSH, NG, PHIE, PHIT, SWE",./sampledata\many\P11-11_reservoir_evaluation.las
3,SCHOONEBEEK- 3,2,3518,DEPT,M,245.9736,781.9644,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_01_RAW_OH...
4,SCHOONEBEEK- 3,2,804,DEPT,M,950.0000,1110.6000,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_04_RAW_OH...
5,SCHOONEBEEK- 3,2,1786,DEPT,M,700.0000,1057.0000,"SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_03_RAW_OH...
6,SCHOONEBEEK- 3,4,581,DEPT,M,745.5408,861.5408,"ES, LN, SN, SP",./sampledata\many\SCHOONEBEEK__3_RUN_02_RAW_OH...